@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.home-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 20px;
    height: 30vh;
    margin-bottom: 2vh;
    gap: 10px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;

}

.home-header .information {
    border-radius: 20px;
    border: none;
    background-color: #E2E2E2;
}

.home-header .information .counter {
    font-size: 50px;
    color: #006CAC;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-header .information .counter-title {
    font-size: 15px;
    color: #006CAC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.home-body {
    height: 67vh;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 20px;
    width: 100%;
    box-sizing: border-box;
}
